.barcode{
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 2.025in; /* plus .6 inches from padding */
    height: .875in; /* plus .125 inches from padding */
    padding: .125in .3in 0.02in;
    margin-right: .20in; /* the gutter */

    float: left;

    text-align: center;
    overflow: hidden;

    /*outline: 1px dotted;*/
}